/* body{
    background-color: rgb(237, 237, 237);
    font-family: Poppins;
} */
/* h1{
    text-align: center;
    padding-top: 15px;
    font-size: 50px;
    background-color: rgb(41, 41, 41);
    color: white;
    height: 100px;
    margin-top: 0px;
} */

.container1{
    margin-left: 90px;
}
.clearfix{
    clear:both;
}
.product_container1{
    background-color: white;
    align-items: center;
    float:left;
    margin: 30px;
    width: 300px;
    height: 450px;
}

.productName1{
    margin:0 0 5px 20px;
    float: left;
    font-size: 25px;
    font-weight: bold;
    border-bottom: 4px solid rgb(41, 41, 41);
    padding-bottom: 2px;
}
.productPrice1{
    text-align: right;
    font-weight: bold;
    margin-right: 15px;
    font-size: 25px;
    
}
.productDesc1{
    clear: both;
    margin-left: 20px;
    font-size: 15px;
    color: grey;
    margin-bottom: 10px;
}
.view{
    margin:30px 0px 10px 20px;
    height: 40px;
    font-weight: bold;
    color: white;
    background-color: rgb(27, 27, 27);
    width: 260px;
    transition: 0.3 sec;
    padding: 5px 10px 5px 10px; 
}
.view:hover{
    background-color: rgb(36, 36, 36);
    width: 265px;
    height: 41px;
    margin-left: 19px;
}
.img1{
    width:300px;
    height:300px;
    object-fit: cover;
    /* border-bottom: 4px solid rgb(203, 203, 203); */
}

