.container ol li{
    font-size: 1.4em;
    color: #cecece;
}

.start{
    display: flex;
    justify-content: center;
    padding-top: 2em;
}

.start .btn{
    padding: .2em 1.7em;
    border: none;
    border-radius: .1em;
    font-size: 1.2em;
    color: #202020;
    text-decoration: none;
    background-color: #faff5a;
}

#form{
    display: flex;
    justify-content: center;
    margin-top: 4em;
}

#form .userid{
    padding: .7em 2em;
    width: 50%;
    border: none;
    border-radius: 3px;
    font-size: 1em;
}
.start-container{
    margin: 2% auto;
    font-family: Poppins;
    text-align: center;
    border-radius: 10px;
    background-color: white;
    width: 60%;
    font-size: 23px;
    padding-bottom: 1%;
}
.title1{
    padding: 3% 0% 1% 0%;
    font-size: 50px;
    font-weight: bold;
}
.rules{
    text-align: left;
    padding: 2% 5%;
}
.btn1{
    background-color: black;
    color: white;
    padding: 1.5% 5%;
    font-size: 20px;
}
.start1{
    margin: 3% 0% 5% 0%;
}
.btn1:hover{
    color: white;
    background-color: #2b2b2b;
}